html {
  font-family: 'helvetica neue';
}

body {
  margin: 0;
}

h2 {
  font-size: 75px;
  margin: 10px;
  padding: 1px;
}

time {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  font-size: 10rem;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 75vh;
}

.container-brasil{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: deeppink;
}

.container-italia{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: cornflowerblue;
}

.info{
  font-size: 5rem;
  margin: 10px;
  padding: 1px;
}

.talk{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: greenyellow;
  min-height: 25vh;
}