html {
  font-family: 'Righteous', cursive;
  font-size: 16px;
}

body {
  margin: 0;
  position: relative;   
  min-height: 100vh;
}

h2 {
  font-size: 4.5rem;
  margin: 10px;
  padding: 1px;
  color: antiquewhite;
  text-shadow: 25px 60px black;
}

time {
  background-color: antiquewhite;
  border-radius: 20px;
  margin: 30px 10px;
  padding: 5px;
  font-size: 10rem;
  mix-blend-mode: hard-light;
  letter-spacing: 5px;
}

.location-br {
  color: antiquewhite;
  text-shadow: 10px 10px black;
  mix-blend-mode: hard-light;
}

.location-it {
  color: antiquewhite;
  text-shadow: -10px 10px black;
  mix-blend-mode: hard-light;
}

.br{
  box-shadow: 10px 10px black;
}

.it{
  box-shadow: -10px 10px black;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50vh;
}

.container-brasil{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: deeppink;
  transition: ease-in 0.5s;
}

.container-italia{
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: cornflowerblue;
  transition: ease-in 0.5s;
}

.info-br{
  background-color: antiquewhite;
  font-size: 5rem;
  margin: 10px 10px 0px 10px;
  padding: 1px;
  display: none;
  transition: ease-in 0.5s;
  box-shadow: 10px 10px black;
  mix-blend-mode: hard-light;
  word-spacing: 15px;
  letter-spacing: 5px;
}

.info-it{
  background-color: antiquewhite;
  font-size: 5rem;
  margin: 10px 10px 0px 10px;
  padding: 1px;
  display: none;
  transition: ease-in 0.5s;
  box-shadow: -10px 10px black;
  mix-blend-mode: hard-light;
  word-spacing: 15px;
  letter-spacing: 5px;
}

.talk{
  letter-spacing: 5px;
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.shrink{
  height: 100vh;
  width: 50vw;
  transition: ease-in 0.5s;
}

.talk-shrink{
  height: 25vh;
  transition: ease-in 0.5s;
}

.talk-zero-height{
  height: 10vh;
}

.expand{
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: ease-in 0.5s;
  z-index: 4;
}

.expand-infos{
  display: block;
  transition: ease-in 0.5s;
}

.hide{
  display: none;
  transition: ease-in 0.5s;
}

